*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    
    padding: 0px;
    margin: 0px;
}

.boss{
    position: sticky;
    top: 0px;
    z-index: 150;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 45px;
}

.logo{
    font-size: 30px;
    align-items: center;
    text-align: center;
    /* margin: 15px; */
    font-weight: bold;
    margin-left: 80px;
    margin-top: 5px;
    color: #16a085;

}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;

}


.menu ul li :hover{
    color: grey;
    transition: 0.5s ease;

}

.menu ul li .link-home{
    color:#333333;
    text-decoration: none;
    display: block;
    padding: 22px;
    font-weight: bold;
    font-size: 18px;

}


.toggle{
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 21px;
    width: 32px;
    position: absolute;
    top: 12px;
    right: 20px;
}

.toggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.login-butt{
    border: none;
    background-color:#16a085;
    padding: 4px 25px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-right:50px ;
    cursor: pointer;
    text-decoration: none;
}

.login-butt:hover{
    transform: scale(1.1);
    cursor: pointer;
}




/* nav1 */
.hed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30px;
    background-color: #0e8069;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: auto;
    left: 20px;
    justify-content: space-evenly;
    align-items: center;





}

.loc {
    display: inline-block;
    color: #FFFFFF;
    padding-right: 5px;
    font-size: 20px;
    transition: .4s;

}

.loc:hover {
    color: #333333;
    transform: scale(1.1);
    cursor: pointer;

}

.parag {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 5px;
}


.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: auto;
    right: 300px;

}


.social i {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    transition: .4s;
    color: white;
    font-size: 18px;
}

.social i:hover {
   
    transform: scale(1.1);
    cursor: pointer;

}

.btn-make {
    display: flex;
    position: absolute;
    top: auto;
    right: 20px;
    justify-content: center;
    align-items: center;

}

.bt {
    background-color: #16a085;
    color: #FFFFFF;
    align-items: center;
    height: 30px;
    width: 200px;
    border: none;
    transition: .4s;
    font-size: 16px;
    font-weight: bold;

}

.bt:hover {
    background-color: #cef8ea75;
    color: white;
    transform: scale(1.1);
}


/* nav3 */
.create {
    background-color: #96f5d5;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    /* margin-top: 5px; */

}

.cret {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;


}

.creat3 {
    display: flex;
    /* background-color: blue; */
    align-items: left;
    /* height: 30px; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;


}


.cret2 {

    height: auto;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.crets {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16a085;
    /* height: 40px; */
    color: white;
    width: 200px;


}

.creat7 {
    background-color: #16a085;
    height: 35px;
    margin-top: 5px;
}

.cret22 {

    height: 35px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.cret2 i {
    background-color: #FFFFFF;
    color: #0e8069;
    height: 35px;
    width: 35px;
    padding: 5px;
    cursor: pointer;
    transition: .4s;

}


.cret2 i:hover {
    color: #16a085;
    transform: scale(1.1);

}

.ze{
    font-weight: bold;

}

.wiht {
    font-size: 15px;
}



.cret22 i {
    background-color: #FFFFFF;
    
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    transition: .4s;
    color: #16a085;
    transition: .4s;
}

.cret22 i:hover {
    cursor: pointer;
    background-color: #333333;
    color: white;

}

.cret .fa-custom{
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}




/* nas soura */

.banner-card {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 500px;
    
}


.doctor-back{
    height: 450px;
}


img.backl {
    width: 100%;
    height: 450px;
}

.banner-text {
    position: relative;
    top: 0;
    color: #333333;
    padding: 20px;
    width: 100%;
    height: fit-content;
    text-align: justify;
}

.banner-text .text-h4 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: bold;
    /* margin-bottom: 5px; */
}


.cont {
    margin: 40px auto auto 0px;
    width: 600px;
    padding: 8px;
    text-align: center;
}

.text {
    text-align: justify;
    padding-top: 20px;
    color: #333333;
}

.medical{
    margin-top: 30px;

}

.medical-dv {
   
    text-align: center;
    padding-right: 20px;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}

.ned {
    width: 80%;
    font-size: 24px;
    margin-top: 20px;
    text-align: justify;
    padding-left: 65px;
}

.butt {
    border: none;
    background-color: #16a085;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    position: relative;
    top: 20px;
    left: 180px;

    color: white;
    
    margin-left: 30px;
    transition: .4s;
}

.butt:hover {
    transform: scale(1.3);
    cursor: pointer;
    background-image: linear-gradient();

}

.makebutton{
    width: fit-content;
    height: fit-content;
}


@media screen and (max-width: 700px) {
    .banner-card{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
    }
    
    .banner-text .text-h4 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
    
    }

    .cont {
        margin: 0px auto auto 0px;
        width: 600px;
        padding: 8px;
        text-align: center;
    }
}

/* end soura w nas */



/* 3 cardes */
.flex1 {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 150px;
    /* position: relative;
    top: 100px; */
    /* left: 200px; */
    justify-content: space-between;
    align-items: center;
    width: 80%;



    /* width: calc(100%/3); */
}

.flex2 {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    height: 300px;
    width: 50%;
    flex-direction: column;
    /* padding: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    box-shadow: 10px 10px 10px 0px  #47b6a0;

}

/* .flex3 {
    display: flex;
    
} */

.contr1 .fa-custom{
    font-size: 60px;
    color: #16a085;
    
}

.contr1{
    margin-bottom: 10px;
    padding: 0px;
}

.titreone{
    text-align: center;
    align-items: center;
}


.fon {
    font-size: 10px;
    width: fit-content;
    color: #333333;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}
.flex3{
    margin-top: 10px;
}

/* end 3card */


/* soura ma3 list w nas */
.pict {
    background-color: white;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 0;

}
.list2 {
    display: flex;
    justify-content: space-between;
    height: 200px;
    flex-direction: row;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    position: relative;

}

.text1 {
    width: 800px;
    height: 400;
}


.pic img {
    height: 400px;
    width: 450px;
}

.prh {
    text-align: center;
}

.pic {
    display: flex;
    margin-right: 0;
    justify-content: left;
    height: 400;
}

.ul1 {
    list-style: none;
    position: relative;

}

.ul2 {
    list-style: none;
    position: relative;

}

.ul1 li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.ul2 li {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.ul1 li::before {
    content: "";
    width: 0px;
    height: 0px;
    position: relative;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #16a085 transparent transparent;
}

.ul2 li::before {
    content: "";
    width: 0px;
    height: 0px;
    position: relative;
    left: -20px;
    top: 50%;
    margin-top: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #16a085 transparent transparent;
}

.titl {
    text-align: center;
    margin-bottom: 50px;
    color: #09227C;
}

.titel2 h4{
    font-size: 40px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    
}

.titel3{
    font-size: 30px;
    align-items: left;
    text-align: left;
    margin-top: 60px;
    font-weight: 600;
    
}

.banner-card .fa-custom {

    font-size: 50px;
}

.contr {
    margin-top: 30px;
    color: #09227C;
}



/* end soura ma3 list w nas */

/* table and pic */

.private{
    background-color: #96f5d5;
}
.pic-table {
    display: flex;
    flex-direction: row;
}

.pic-table .alfa-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    background-color:#96f5d5;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}


.pic-table .alfa-container .parent1 {
    display: flex;
    height: 100px;
    width: 200px;
    color: white;
    background-color:#96f5d5;
    cursor: pointer;
}

.pic-table .alfa-container .parent1 {
    align-items: center;
    justify-content: center;
    text-align: justify;


}

.bag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    
    
}


.pic-table .alfa-container div:hover {
    color: #333333;
    background-color: white;
    transition: all 0.5s linear;
    cursor: pointer;
}


.bag .par {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    color: white;
    cursor: pointer;
}

.bag .upper {
    font-size: 28px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.parent1 .inheer {
    width: fit-content;
    margin-right: 15px;

}


.parent1 .inheer i {
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #16a085;
    cursor: pointer;
}


.pic-table .inhl {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ra2em1 {
    font-size: 22px;
    font-weight: bold;
}


.pic-table {
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.soura img {
    width: 650px;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    
}


@media screen and (max-width: 1000px) {

    .pic-table{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    

    .pic-table .alfa-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        gap: 5px;
        background-color:#96f5d5;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
    }

    .bag{
        margin-left: 30px;
        flex-wrap: wrap;
    }


    .bag .par{
        font-size: 16px;
    }
}



@media screen and (max-width: 600px) {
    
    .pic-table .alfa-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        gap: 5px;
        background-color:#96f5d5;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
    }

    .bag{
        margin-left: 30px;
        flex-wrap: wrap;
    }


    .bag .par{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .soura img {
        width: 400px;
        height: 400px;
    }
}
/* end the table and pic */

/* table kbir */

.pry {
    display: flex;
    flex-direction: column;
 
   background-color: #16a085;
}


.pry .primary {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 50px;
    background-color: #16a085;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    margin-top: 20px;

}

.pry .primary .parent {
    display: flex;
    height: 200px;
    width: 300px;
    color: white;
    cursor: pointer;
}

.pry .primary .parent {
    transition: .4s;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 20px -5px black;

}




.pry .ness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.pry .primary div:hover {
    cursor: pointer;
}

.pry .primary .parent:hover {
    color: #333333;
    background-color: white;
    transition: all 0.5s linear;
    cursor: pointer;
    transform: scale(1.1);
}

.flag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
.flag .upper {
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    align-items: left;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: justify;

}


.kalam{
    font-size: 28px;
    font-weight: bold;
}

.flag .second{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

.par{
    font-size: 20px;
    color: #FFFFFF;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;


}


.primary .beo {
    width: 60px;
    height: 20px;
    padding-left: 20px;
}

.primary .icon-text i {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 45px;
    color: #16a085;
}

.primary .inh {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.primary .details1 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 30px;
    margin-left:20px;
}

.primary .haki {
    display: flex;
    height: auto;
    margin-bottom: 5px;
    color: #333333;
    padding-left: 15px;
    padding-right: 15px;
}

.flag .more {
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    transition: .4s;
}

.flag .more:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 1115px) {

    .pry{
        width: 100%;
        align-items: center;
    }
    
    .pry .primary{

        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        gap: 50px;
        background-color: #16a085;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        position: relative;
        margin-top: 20px;
        /* display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        max-width: 95% !important; */
    }

    .login-butt{
        
            background-image: radial-gradient(white, white);
            color: #16a085;
        cursor: pointer;
    }

    .flag .upper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0%;
       
    
    }
    .flag .second{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
    
    }

    .moresev{
        margin-left: 10px;
    }
}



@media screen and (max-width: 700px) {
    .flag .upper {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        align-items: left;
        text-align: left;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: justify;
    
    }

    .details{
        font-size: 20px;
    }

    .kalam{
        font-size: 20px;
    }

    .par{
        margin-left: 50px;
    }

    .moresev{
        margin-top: 20px;
    }
}

/* end table kbir */


/* nas */

.news {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    
}

.deticated {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
    margin: 20px;



}

.deticated .title {
    padding: 10px;
    font-size: 16px;
    color: #333333;

}

.deticated .title1 {
    padding: 10px;
    font-size: 28px;
    color: #16a085;
    font-weight: bold;
}


.deticated .paragraph1 {
    padding-top: 15px;
    padding-left: 15px;
    font-size: 20px;
    color: #333333;
}


/* scroll one */

.asasi {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    

}

.main-scroll-div {
    width: 90%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    /* border: 2px solid red; */
}


.cover {
    position: relative;
    width: 90%;
    height: 65%;
    /*flex-direction: row; */
}

.cover::before {
    position: relative;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100px;
background-color: transparent;  
}

.cover::after {
    position: relative;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 100px;
     background-color: transparent;
}


.scroll-images {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.scroll-images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.child {
    min-width: 300px;
    height: 350px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
}

.child:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.child-img {
    width: 100%;
    height: 170px;
    /* margin: 15px;*/
    padding-top:  15px;
    object-fit: contain;

    cursor: pointer;
}

.icon {
    color: #16a085;
    background-color: white;
    text-align: center;
    font-size: 50px;
    outline: none;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
}

.icon:hover {
    color: #96f5d5;
}

.flek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #16a085;
    box-shadow: 5px 5px 5px 0px#96f5d5;
    /* transition: .4s; */
    cursor: pointer;


}



.name1 {
    font-size: 30px;
    line-height: 25px;
    font-weight: 600;
    margin: 25px 0px 20px;
    color: #333333;
    cursor: pointer;
}


.speciality {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
    transition: .4s;
}


.speciality:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #333333;

}

.social-doctor i {
    font-size: 15px;
    color: #FFFFFF;
    margin: 0px 8px 20px 0px;
    transition: .4s;
}

.social-doctor i:hover {
    transform: scale(1.1);

}
/* end scrollone */





/* soura w nas */

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    height: 400px;
    width: 100%;

}


.ground1{
    width: 500px;
    height: 300px;
}


.make-buttel{
    width: fit-content;
    height: fit-content;
    margin: 0%;
    padding: 0%;
}

.benntex {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #333333;
    padding: 20px;

}

.conter {
    width: 100%x;
    padding: 8px;
    margin-left: 0;
    margin-bottom: 10px;
    
}

.test {
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
    color: #333333;
    width: 100%;
    font-size: 35px;
}

.medical {
    margin-top: 30px;
}

.need {
    width: 500px;
    text-align: justify;
    font-size: 28px;
   margin-top: 30px;
   line-height: 1.6;
}

.buttel {
    border: none;
    background-color: #16a085;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    color: white;
    padding: 15px;
    margin-left: 30px;
    margin-top: 40px;
}

.buttel:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.call {

    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
}

/* end nas w soura */



/* fedback */

.fulk {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    justify-content: space-evenly;
    background-color: #16a085;
    height: 250px;
    width: 550px;
    padding-left: 50px;
    padding-right: 50px;
    
}


.boll {
    padding-left: 18px;
    color: white;
}


.leader {
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.colead {
    width: 400px;
    padding-left: 20px;
    color: white;

}

.newgrid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-left: 150px;
}

.fulki {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: right;
    justify-content: space-evenly;
    background-color: #0e8069;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 200px;
    margin-top: 50px;
    height: 250px;
    width: 700px;
}


.one-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}


.bosses {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.name-flex {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    color: white;
}

.feedback {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.leaders {

    display: flex;
    width: 450px;
    height: 150px;
    color: white;
    /* background-color: white; */
}

.coleads {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin-left: 50px;


}

.coleads i {
    color: #47b6a0;

}

/* end feedback */



/* scroll two */

.newsscroll {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    top: 0px;

}


.scrolling-div {
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    /* border: 2px solid red; */
}


.coverting {
    position: relative;
    width: 90%;
    height: 40%;
    /* display: flex;
    flex-direction: row; */
}

.coverting::before {
    position: relative;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;

    background-color: transparent;
}

.coverting::after {
    position: relative;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    height: 100%;
    width: 150px;

    background-color: transparent;
}


.scroll-pictures {
    width: 100%;
    height: auto;
    display: flex;
    /* justify-content: left; */
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.scroll-pictures::-webkit-scrollbar {
    -webkit-appearance: none;
}

.childes-pic {
    min-width: 350px;
    height: 200px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
    align-items: center;
    text-align: center;
}

.childes-imges {
    width: 250px;
    height: 150px;

}

.icones-dreis {
    color: #16a085;
    background-color: transparent;
    font-size: 50px;
    outline: none;
    border: none;
    /* padding: 0px 20px; */
    cursor: pointer;
}

.icones-dreis:hover {
    color: #96f5d5;
}

/* end scroll two */


/* blog part */

.blog-cont {
    width: 100%;

}

.blog-section {
    width: 80%;
    margin: auto;
}

.title-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.button-blog {
    padding: 10px;
    color: white;
    background-color: #16a085;
    font-size: 16px;
    border: none;
    transition: .4s;
}

.button-blog:hover {
    transform: scale(1.1);

}



.blog-section .blog-title {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
    margin: auto;
}

.blog-section .blog-title h1 {
    color: #16a085;
    font-size: 45px;
    margin-top: 30px;
    font-weight: 700;

}


.blog-section .blog-title p {
    color: #333333;
    font-size: 18px;
    line-height: 1.5;

}

.contants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.contants .blog-card {
    flex: 1;
    margin: 40px 20px;
}

.contants .blog-card img {
    width: 100%;
    height: auto;

}

.contants .blog-card h4 {
    font-size: 17px;
    margin-top: 20px;
}

.contants .blog-card p {
    font-size: 15px;
    margin-top: 15px;
    color: #5b5b5b;
    line-height: 1.5;
}


@media screen and (max-width: 768px) {
    .contants {
        flex-direction: column;
    }

    .contants1 {
        flex-direction: column;
    }

}



/*  */
.contants1,
.contants2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.contants1 .blog-card,
.contants2 .blog-card {
    flex: 1;
    margin: 40px 20px;
}

.contants1 .blog-card img,
.contants2 .blog-card img {
    width: 100%;
    height: auto;

}

.contants1 .blog-card h4,
.contants2 .blog-card h4 {
    font-size: 17px;
    margin-top: 20px;
}

.contants1 .blog-card p,
.contants2 .blog-card p {
    font-size: 15px;
    margin-top: 15px;
    color: #5b5b5b;
    line-height: 1.5;
}
/* blog ens */




/* footer */

.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    text-align: justify;
    width: 100%;
    background-color:#96f5d5 ;
    margin-top: 1px;
    padding-bottom: 30px;
}
.content31{
    text-align: justify;
}
.icon-footer img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 15px;
    padding-left: 15px;
   padding-top: 10px;
}
.link1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5cm;
    width: 300px;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.link1 a{
    text-decoration: none;
    color: black;
    transition: .3 ease-in-out; 
}


.link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5cm;
    width: 300px;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.link a{
  text-decoration: none;
    color: black;
    transition: .3 ease-in-out;
}
.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 107px;
    margin-right: 15px;
}
.form .email{
    width: 177px;
    height: 30px;
    border: 2px solid #16a085;
    border-radius: 10px;

}
.form .bti{
    border: none;
    color: #fff;
    background-color: #16a085;
    font-size: 22px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
    transition: .3 ease-in-out;
    
}
.titre h2{
    color: #000000;
    font-size: 30px;
    transition: .3 ease-out;
    cursor: pointer;
    padding-top: 10px;
}

.link a{
    transition: .3s;
}
.link a:hover{
    color: #0e8069;
    transform: translateX(22px);
}
.link div{
    margin-right: 50px;
    color: #0e8069;
    transform: translateX(22px);
}

 .copy{
    height: 40px;
    background-color: #16a085;
    padding-top: 10px;
    text-align: center;
   
 }
 .copy p{
    text-align: center;
    color: #fff;
 }
 
 .as{
    width: 30px;
    height: 30px;
 }
 .email{
    padding-left: 7px;
    font-size: 15px;
    font-weight: 400;
    color: #0e806979;
 }
@media(max-width:1000px){
    .icon-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .footer
    {
      
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        
       
    }
    .icon-footer img{
        font-size: 40px;
       
    }
    
    .content31 .icon{
        text-align: center;
        margin-right: 150px;
    }
    .content31{
       padding-left: 150px;
        padding-top: 20px;
        padding-bottom: 10px;
        text-align: justify;
        margin-right: 50px;
    }
    .content31 .link{
        font-size:20px;
        
        text-align: justify;
    
    }
    .link div{
       
        
        padding-left: 0px;
        margin-top: 20px;
        
    }
    .about{
        margin-right: 50px;
    }
    .form{
        margin-right: 30px;
     
    }
    .copy {
        height: 50px;
    
    }
}

/* end footer */




/* search */
.searchyasser{
    display:flex;
    justify-content: center;
    align-items: center;
}

.sel {
    width: 100px;
    height: 35px;
    border: 1px solid #999;
    font-size: 18px;
    color: black;
    border-radius: 5px;

  }

#tarhini-search-container{
    width:90%;
    height:200px;
    background-color: transparent;
    display:flex;
    flex-direction: column;
}
#tarhini-upper{
    height:20%;
    width:100%;
    background-color: transparent;
    display:flex;
    padding-left: 20px;
}
.tarhini-heading{
    height:100%;
    width:25%;
    margin:10px;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
}
#tarhini-lower{
    width:100%;
    height:auto;
    background-color: #16a085;
    border-radius: 10px;
    display:flex;
}
#option-1{
    width:100%;
    justify-content: center;
}
#option-2{
    width:100%;
    justify-content: center;
}
.tarhini-form {
    width:100%;
    height:50%;
    margin:20px 0 0 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#option-1 input, #option-2 input{
    width:15%;
    height:40px;
    align-self: center;
    margin:10px;
}
.tarhini-button{
    border:1px solid #f7f7f7;
    text-align: center;
    padding:10px;
    background-color: rgba(22, 160, 133,0.2);
    color:#f7f7f7;
}
.tarhini-search{
    border:1px solid #f7f7f7;
    text-align: center;
    padding:10px;
    background-color: rgba(22, 160, 133,1);
    color:#f7f7f7;
    border-radius: 5px;
    width:90px; 
    height: 35px;
    margin:0 40px;
}
.tarhini-search:hover{
    cursor: pointer;   
    background-color: #f7f7f7;
    color:black;
    transition: 0.3s;
}
.tarhini-button:hover{
    cursor:pointer;
    background-color: rgb(22, 160, 133);
    transition: 0.3s;
}
.tarhini-selected{
    background-color: rgb(22, 160, 133);
}
.tarhini-input{
    border-radius: 10px;
    border:1px solid silver;
    padding:5px;
}
.tarhini-input:focus{
    border:1px solid silver;
    outline:none;
}


@media (max-width:638px){
    .tarhini-form{
        flex-direction: column;
        height: 80%;
    }
    #tarhini-upper{
        height:15%;
        width:100%;
        background-color: transparent;
        display:flex;
        padding-left: 20px;
        justify-content: space-evenly;
    }
    .tarhini-heading{
        height:100%;
        width:50%;
        margin:10px;
        margin-top: 0;
        border-radius: 10px 10px 0 0;
        font-size: 12px;
    }
    #option-1 input, #option-2 input{
        width:70%;
        height:40px;
        align-self: center;
        margin:10px;
    }
}
@media (max-width:360px){
    #tarhini-upper{
        padding:0;
    }
    .tarhini-heading{
        font-size: 6px;
    }
}

/* end search */


/* media */

@media screen  and (max-width: 1000px) {
    .navi{
        display: none;
    }
    .navo{
        display: none;
    }
    .toggle{
        display: flex;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #16a085;
        
    }
.logo{
    color: white;
}

    .menu{
        width: 100%;
        display: none;
    }

    .menu ul{
        width: 30%;
        flex-direction: column;
        background-color: #96f5d5;
        margin-top: 5px;
    }

    .menu ul li .link-home {
        padding: 10px 0px;
        text-align: center;
    }

    .menu.active{
        display: flex;
    }
.navbutton{
    position: absolute;
   
    /* left: 150px; */
    right: 50px;
    top: 12px;
}

.pict{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pic img {
    height: 200px;
    width: 200px;
}


.pic {

    margin-right: 0;

}

.titel2 h4{
    font-size: 24px;
}

.titel3{
    font-size: 22px;
    align-items: left;
    text-align: left;
    margin-top: 30px;
    font-weight: 600;
    
}

.ul1 li{
    font-size: 16px;
}

.ul2 li{
    font-size: 16px;
}

.banner-card{
    display: flex;
height: 350px;

}

.banner-text{
    padding: 0px;
    height: 300x;
}

.banner-text .text-h4 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
  
}


.medical-dv{
    font-size: 18px;
    font-weight: bold;
}

.medical{
    margin-top: 20px;

}

.ned{
    font-size: 16px;
}

.back1 .doctor-back{
height: 350px;

}

.doctor-back{
    
    width: 350px;
    height: 350;
}


    .flex1{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-around;
        margin: 0px;
    }

    .flex2{
        margin-top: 20px;
        margin-bottom: 20px;
    }


.pic-table{
   display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px;
}

.pry.primary{
    display: grid;

}

.newgrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;

    /* margin-left: 150px; */
}

.fulki {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-evenly;
    background-color: #0e8069;
    height: 250px;
    width: 600px;


}

.fulk {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    background-color: #16a085;
    height: 250px;
    width: 600px;

}





}




@media screen  and (max-width: 700px) {

  

 .journal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
    
   .banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
   }


   .newgrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 550px;
    margin-left: 100px;

    /* margin-left: 150px; */
}

.fulki {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-evenly;
    background-color: #0e8069;
    height: 200px;
    width: 400px;
}

.fulk {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly;
    background-color: #16a085;
    height: 200px;
    width: 400px;
    padding-left: 0%;
    padding-right: 10px;

}


.colead{
    font-size: 12px;
    
}

.feedback{
    overflow-y: scroll;
}

.one-flex{
    margin-right: 20px;
    align-items: center;
    text-align: center;
}
.name-flex{
    font-size: 14px;
}

.searchyasser{
    margin-top: 150px;
}

.ul1 li::before {
    content: "";
    width: 0px;
    height: 0px;
    position: relative;
    left: -10px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #16a085 transparent transparent;
}

.ul2 li::before {
    content: "";
    width: 0px;
    height: 0px;
    position: relative;
    left: -10px;
    top: 50%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #16a085 transparent transparent;
}

}





/* scroll */
.Rev-inner{
    height: 500px;
    overflow-y: scroll;
    width: 100%;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  
  .Rev-inner::-webkit-scrollbar{
    width:5px;
  }
  .Rev-inner::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #34AF6D;
    border-radius: 10px;
  }
  
  .Rev-inner::-webkit-scrollbar-thumb {
    background-color: #34AF6D;
    border-radius: 10px;
  }
  
  .Rev-inner::-webkit-scrollbar-thumb:hover {
    background-color: #367952;
  }

  /* scroll button  */
  .up{
    position: fixed;
    bottom: 10px;
    right: -35px;
    background-color: #0e8069;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 0.2s;

  }


  .up.show{
    right: 10px;
  }
  .logout{
    text-decoration: none;
    color: white;
    background-color: #16a085;
    border-radius: 19px;
    padding: 7px;
    margin-right:35px;
    font-size:18px;
  }
  .users{
    font-size:18px;
    color:#333333;
    font-weight: bold;
    margin-left:50px;
  }
  
