*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'popins', sans-serif;
}
.container{ 
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #96f5d570;
    align-items: center;
}
.pe{
    width: 100%;
   padding-left: 10px;
}
.pe h2{
margin-left: 10px;
    font-size: 60px;
   
}
.pe span{
    font-size: 60px;
    color: #16a085;
}
.pe p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-left: 10px;
}
.img1{
    width: 800px;
    height: 600px;
}
.submit{
    border: 2px solid #16a085;
    text-align: center;
    border-radius: 40px;
    height: 40px;
    color: #16a085;
    font-size: 20px;
    margin-top: 20px;
}
.submit:hover{
    background-color: #16a085;
    color: white;
    width: 260px;
}

.galery{
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: .2rem .2rem 0 rgba(0,0,0,.2);
}
.galery span{
    color: #30d39d;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3,auto);
    justify-content: center;
}
.dental{
    margin-top: 100px;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: .2rem .2rem 0 rgba(0,0,0,.2);
    /*background-color: #96f5d570;*/
}
.dental span{
    color: #30d39d;
}
.doctor{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #96f5d570;
    height: 450px;
}
.esm{
    
    text-align: center;
    font-size: 40px;
}
.swar{
    margin-left: 100px;
}
.swar img{
    margin-top: 50px;
    width: 400px;
    height: 350px;
    border-radius: 50px;
    box-shadow: .5rem .5rem .5rem #000000a2;
}
.info{
    width: 50%;
    margin-left: 80px;
    margin-top: 80px;
}
.info img{
    width: 50px;
    height: 50px;
}
.info span{
    font-size: 30px;
}
.info p{
    font-size: 20px;
}
.coin{
    width: 50px;
    height: 50px;
}
.fees{
    font-size: 30px;
    margin-left: 3px;
}
.footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content: center;
    text-align: justify;
    width: 100%;
    background-color: #cef8ea75;
    margin-top: 50px;
    padding-bottom: 30px;
}
.content31{
    text-align: justify;
}
.icon img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 15px;
    padding-left: 15px;
   padding-top: 10px;
}



.link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5cm;
    width: 300px;
    height: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.link a{
  text-decoration: none;
    color: black;
    transition: .3 ease-in-out;
}
.form{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 107px;
    margin-right: 15px;
}
.form .email{
    width: 177px;
    height: 30px;
    border: 2px solid #16a085;
    border-radius: 10px;

}
.form .bti{
    border: none;
    color: #fff;
    background-color: #16a085;
    font-size: 22px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
    transition: .3 ease-in-out;
    
}
.titre h2{
    color: #000000;
    font-size: 30px;
    transition: .3 ease-out;
    cursor: pointer;
    margin-left: 10px;
}

.link a{
    transition: .3s;
}
.link a:hover{
    color: #0e8069;
    transform: translateX(22px);
}
.link div{
    margin-right: 50px;
    color: #0e8069;
    transform: translateX(22px);
}

 .copy{
    height: 40px;
    background-color: #16a085;
    padding-top: 10px;
    text-align: center;
 }
 .copy p{
    text-align: center;
    color: #fff;
 }
 
 .as{
    width: 30px;
    height: 30px;
 }
 .email{
    padding-left: 7px;
    font-size: 15px;
    font-weight: 400;
    color: #0e806979;
 }
 .info button{
    background-color:#16a085;
    border-radius: 50px;
    border: 2px solid #16a085;
    color: #ffffff;
    font-size: 20px;
    margin-top: 50px;
    height: 50px;
 }
 /*.info button:hover{
    background-color: white;
    border-color: #16a085;
    color:#0e8069;
 }*/
 @media(max-width:1000px)  {
    .container{
        display: flex;
        flex-direction: column;
    }
    .img1{
        width: 500px;
            height: 400px;
    }

.esm h3{
    font-size: 20px;
}

   
.pe p{
    font-size: 24px;
    width:90%;
    padding-left: 10px;
}
.content {
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(3,auto);
    justify-content: center;
}
.swar img{
    width: 250px;
    height: 250px;
    margin-top: 90px;
}
.info{
    width: 30%;
    margin-top: 50px;
}
.doctor{
    display: flex;
    justify-content: center;
}
.info button{
    margin-top: 2px;
}
.icon {
    display: flex;
    flex-direction: row;

}
.footer
{
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    
   
}
.icon img{
    font-size: 40px;
   
}

.content31 .icon{
    text-align: center;
    margin-right: 150px;
}
.content31{
   padding-left: 150px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: justify;
    margin-right: 50px;
}
.content31 .link{
    font-size:20px;
    
    text-align: justify;

}
.link div{
   
    
    padding-left: 0px;
    margin-top: 20px;
    
}
.about{
    margin-right: 50px;
}
.form{
    margin-right: 30px;
 
}
.copy {
    height: 50px;

}
 }
 @media(max-width:780px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .img1{
        width: 500px;
            height: 400px;
    }

   
.pe p{
    font-size: 24px;
    width:90%;
    padding-left: 10px;
}
.content {
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(3,auto);
    justify-content: center;
}

 }



 /* nabav */
 .boss{
    position: sticky;
    top: 0px;
    z-index: 150;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 45px;
}

.logo{
    font-size: 30px;
    align-items: center;
    text-align: center;
    /* margin: 15px; */
    font-weight: bold;
    margin-left: 80px;
    margin-top: 5px;
    color: #16a085;

}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;

}


.menu ul li :hover{
    color: grey;
    transition: 0.5s ease;

}

.menu ul li .link-home{
    color:#333333;
    text-decoration: none;
    display: block;
    padding: 22px;
    font-weight: bold;
    font-size: 18px;

}


.toggle{
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 21px;
    width: 32px;
    position: absolute;
    top: 12px;
    right: 20px;
}

.toggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.login-butt{
    border: none;
    background-color:#16a085;
    padding: 4px 25px;
    border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    margin-right:50px ;
    cursor: pointer;
}

.login-butt:hover{
    transform: scale(1.1);
    cursor: pointer;
}




/* nav1 */
.hed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 30px;
    background-color: #0e8069;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.location {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: auto;
    left: 20px;
    justify-content: space-evenly;
    align-items: center;





}

.loc {
    display: inline-block;
    color: #FFFFFF;
    padding-right: 5px;
    font-size: 20px;
    transition: .4s;

}

.loc:hover {
    color: #333333;
    transform: scale(1.1);
    cursor: pointer;

}

.parag {
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 5px;
}


.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: auto;
    right: 300px;

}


.social i {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    transition: .4s;
    color: white;
    font-size: 18px;
}

.social i:hover {
   
    transform: scale(1.1);
    cursor: pointer;

}

.btn-make {
    display: flex;
    position: absolute;
    top: auto;
    right: 20px;
    justify-content: center;
    align-items: center;

}

.bt {
    background-color: #16a085;
    color: #FFFFFF;
    align-items: center;
    height: 30px;
    width: 200px;
    border: none;
    transition: .4s;
    font-size: 16px;
    font-weight: bold;

}

.bt:hover {
    background-color: #cef8ea75;
    color: white;
    transform: scale(1.1);
}


/* nav3 */
.create {
    background-color: #96f5d5;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    /* margin-top: 5px; */

}

.cret {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;


}

.creat3 {
    display: flex;
    /* background-color: blue; */
    align-items: left;
    /* height: 30px; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;


}


.cret2 {

    height: auto;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.crets {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16a085;
    /* height: 40px; */
    color: white;
    width: 200px;


}

.creat7 {
    background-color: #16a085;
    height: 35px;
    margin-top: 5px;
}

.cret22 {

    height: 35px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.cret2 i {
    background-color: #FFFFFF;
    color: #0e8069;
    height: 35px;
    width: 35px;
    padding: 5px;
    cursor: pointer;
    transition: .4s;

}


.cret2 i:hover {
    color: #16a085;
    transform: scale(1.1);

}

.ze{
    font-weight: bold;

}

.wiht {
    font-size: 15px;
}



.cret22 i {
    background-color: #FFFFFF;
    
    align-items: center;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    transition: .4s;
    color: #16a085;
    transition: .4s;
}

.cret22 i:hover {
    cursor: pointer;
    background-color: #333333;
    color: white;

}

.cret .fa-custom{
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}



@media screen  and (max-width: 1000px) {
    .navi{
        display: none;
    }
    .navo{
        display: none;
    }
    .toggle{
        display: flex;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #16a085;
        
    }
.logo{
    color: white;
}

.login-butt{
    background-image: radial-gradient(white,white);
    color: #16a085;
}
    .menu{
        width: 100%;
        display: none;
    }

    .menu ul{
        width: 30%;
        flex-direction: column;
        background-color: #96f5d5;
        margin-top: 5px;
    }

    .menu ul li .link-home {
        padding: 10px 0px;
        text-align: center;
    }

    .menu.active{
        display: flex;
    }
.navbutton{
    position: absolute;
   
    /* left: 150px; */
    right: 50px;
    top: 12px;
}
}

 /* end navba */