/*.pry {
    display: flex;
    flex-direction: column;
 
   background-color: #16a085;
}


.pry .primary {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 50px;
    background-color: #16a085;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;
    margin-top: 20px;

}

.pry .primary .parent {
    display: flex;
    height: 200px;
    width: 300px;
    color: white;
    cursor: pointer;
}

.pry .primary .parent {
    transition: .4s;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 20px -5px black;

}




.pry .ness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




.pry .primary div:hover {
    cursor: pointer;
}

.pry .primary .parent:hover {
    color: #333333;
    background-color: white;
    transition: all 0.5s linear;
    cursor: pointer;
    transform: scale(1.1);
}

.flag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
}
.flag .upper {
    display: flex;
    flex-direction: column;
    padding-left: 220px;
    align-items: left;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: justify;

}


.kalam{
    font-size: 28px;
    font-weight: bold;
}

.flag .second{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

.par{
    font-size: 20px;
    color: #FFFFFF;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding-left: 10px;


}


.primary .beo {
    width: 60px;
    height: 20px;
    padding-left: 20px;
}

.primary .icon-text i {
    display: inline-block;
    align-items: center;
    text-align: center;
    font-size: 45px;
    color: #16a085;
}

.primary .inh {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.primary .details1 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 30px;
    margin-left:20px;
}

.primary .haki {
    display: flex;
    height: auto;
    margin-bottom: 5px;
    color: #333333;
    padding-left: 15px;
    padding-right: 15px;
}

.flag .more {
    background-color: #FFFFFF;
    padding: 10px;
    border: none;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    transition: .4s;
}

.flag .more:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 1115px) {

    .pry{
        width: 100%;
        align-items: center;
    }
    
    .pry .primary{

        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        gap: 50px;
        background-color: #16a085;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        position: relative;
        margin-top: 20px;
       
    }


    .flag .upper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 0%;
       
    
    }
    .flag .second{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
    
    }

    .moresev{
        margin-left: 10px;
    }
}



@media screen and (max-width: 700px) {
    .flag .upper {
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        align-items: left;
        text-align: left;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        text-align: justify;
    
    }

    .details{
        font-size: 20px;
    }

    .kalam{
        font-size: 20px;
    }

    .par{
        margin-left: 50px;
    }

    .moresev{
        margin-top: 20px;
    }


    s8iirr


    .kbir1 {
    display: flex;
    flex-direction: column;
    position: relative;
}


.pic-table .alfa-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    background-color:#96f5d5;
    position: relative;
    top: 50px;
    right: 0px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.pic-table .alfa-container .nice,
.pic-table .alfa-container .upper,
.pic-table .alfa-container .parent1 {
    display: flex;
    height: 100px;
    width: 200px;
    color: white;
    background-color:#96f5d5;
    cursor: pointer;
}

.pic-table .alfa-container .parent1 {
    align-items: center;
    justify-content: center;


}




.pic-table .alfa-container div:first-child {
    grid-column: 1/4;
    cursor: default;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.pic-table .alfa-container div:nth-child(2) {
    grid-column: 1/4;
    cursor: default;
    width: 100%;
    height: 60px;
    cursor: pointer;
    /* gap: 5px; */
}



.pic-table .alfa-container div:hover {
    color: #333333;
    background-color: white;
    transition: all 0.5s linear;
    cursor: pointer;
}


.pic-table .nice {
    padding-left: 10px;

    align-items: center;
    text-align: left;
}

.pic-table .upper {
    padding-left: 10px;
    align-items: center;
    text-align: center;

}

.pic-table .inheer {
    width: fit-content;
    padding-left: 10px;

}


.pic-table .inheer i {
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #16a085;
    cursor: pointer;
    transition: .4s;
    padding-left: 10px;
}

.alfa .inheer i:hover {
    transform: scale(1.1);
    color: #333333;
}

.pic-table .inhl {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ra2em1 {
    font-size: 22px;
    font-weight: bold;
}

.first{
    text-align: center;
    align-items: center;
}

.first .upper{
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}
.nice .par{
    font-size: 20px;
}

.pic-table {
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.soura img {
    width: 650px;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;



}

}*/

























.private{
    background-color: #96f5d5;
}
.pic-table {
    display: flex;
    flex-direction: row;
}

.pic-table .alfa-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    background-color:#96f5d5;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}


.pic-table .alfa-container .parent1 {
    display: flex;
    height: 100px;
    width: 200px;
    color: white;
    background-color:#96f5d5;
    cursor: pointer;
}

.pic-table .alfa-container .parent1 {
    align-items: center;
    justify-content: center;
    text-align: justify;


}

.bag{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    
    
}


.pic-table .alfa-container div:hover {
    color: #333333;
    background-color: white;
    transition: all 0.5s linear;
    cursor: pointer;
}


.bag .par {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    text-align: left;
    color: white;
    cursor: pointer;
}

.bag .upper {
    font-size: 28px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}

.parent1 .inheer {
    width: fit-content;
    margin-right: 15px;

}


.parent1 .inheer i {
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: #16a085;
    cursor: pointer;
}


.pic-table .inhl {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ra2em1 {
    font-size: 22px;
    font-weight: bold;
}


.pic-table {
    position: relative;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.soura img {
    width: 650px;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}


@media screen and (max-width: 1000px) {

    .pic-table{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    

    .pic-table .alfa-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        gap: 5px;
        background-color:#96f5d5;
        margin-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        cursor: pointer;
    }

    .bag{
        margin-left: 30px;
        flex-wrap: wrap;
    }


    .bag .par{
        font-size: 16px;
    }
}



@media screen and (max-width: 600px) {
    
    .pic-table .alfa-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, auto);
        gap: 5px;
        background-color:#96f5d5;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        cursor: pointer;
    }

    .bag{
        margin-left: 30px;
        flex-wrap: wrap;
    }


    .bag .par{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .soura img {
        width: 400px;
        height: 400px;
    }
}