
/* .bgImage{
    position: relative; 
    width: 100%;
    height: 100vh;
    background-image: url('./hospital.svg');
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    animation: bgChange 15s linear infinite;
    } */

.content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

}
.content h1{
    font-size: 60px;
    margin-bottom: 0px;
    color: black;
}

.content h1 span {
    color: black;
}




.content p{
    font-size: 18px;
    width: 60%;
    padding-bottom: 10px;
    text-align: center;
    color: black;
}

.content .explore {
    color: white;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #16ae85;
    padding: 14px 22px;
    text-transform: uppercase;
    border-radius: 25px;
    transition: .5s;
    margin-bottom: 20px;

}



/* .overlay{
  
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0,0,0,0.3);
    
    
    } */


.content .explore:hover{
    background-color: #0e8069;
}
#tarhini-search-container{
    width:80%;
    height:200px;
    background-color: transparent;
    display:flex;
    flex-direction: column;
    text-align: center;
}
#tarhini-upper{
    height:20%;
    width:100%;
    background-color: transparent;
    display:flex;
    padding-left: 20px;
}
.tarhini-heading{
    height:100%;
    width:25%;
    margin:10px;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
}
#tarhini-lower{
    width:100%;
    height:auto;
    background-color: #16a085;
    border-radius: 10px;
    display:flex;
}
#option-1{
    width:100%;
    justify-content: center;
}
#option-2{
    width:100%;
    justify-content: center;
}
.tarhini-form {
    width:100%;
    height:50%;
    margin:20px 0 0 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#option-1 input, #option-2 input{
    width:15%;
    height:40px;
    align-self: center;
    margin:10px;
}
.tarhini-button{
    border:1px solid #f7f7f7;
    text-align: center;
    padding:10px;
    background-color: rgba(22, 160, 133,0.2);
    color:#f7f7f7;
}
.tarhini-search{
    border:1px solid #f7f7f7;
    text-align: center;
    padding:10px;
    background-color: rgba(22, 160, 133,1);
    color:#f7f7f7;
    border-radius: 5px;
    width:90px; 
    height: 35px;
}
.tarhini-search:hover{
    cursor: pointer;   
    background-color: #f7f7f7;
    color:black;
    transition: 0.3s;
}
.tarhini-button:hover{
    cursor:pointer;
    background-color: rgb(22, 160, 133);
    transition: 0.3s;
}
.tarhini-selected{
    background-color: rgb(22, 160, 133);
}
.tarhini-input{
    border-radius: 10px;
    border:1px solid silver;
    padding:5px;
}
.tarhini-input:focus{
    border:1px solid silver;
    outline:none;
}


@media (max-width:638px){
    .tarhini-form{
        flex-direction: column;
        height: 80%;
    }
    #tarhini-upper{
        height:15%;
        width:100%;
        background-color: transparent;
        display:flex;
        padding-left: 20px;
        justify-content: space-evenly;
    }
    .tarhini-heading{
        height:100%;
        width:50%;
        margin:10px;
        margin-top: 0;
        border-radius: 10px 10px 0 0;
        font-size: 12px;
    }
    #option-1 input, #option-2 input{
        width:70%;
        height:40px;
        align-self: center;
        margin:10px;
    }
}
@media (max-width:360px){
    #tarhini-upper{
        padding:0;
    }
    .tarhini-heading{
        font-size: 6px;
    }
}


.row{
display: flex;
flex-direction: row;
}


.sel {
    width: 100px;
    height: 35px;
    border: 1px solid #999;
    font-size: 18px;
    color: black;
    border-radius: 5px;

  }

/* divs */




.info-doctor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}
.info-pic{
   
     width: 200px;
     height: 200px;
}
.info-pic img{
 
    width: 150px;
    height: 150px;
}

.info-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}




/* hidden div */

/* .alldivs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} */

.info-doc{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 760px;
    height: 220px;
    margin-left: 80px;
    border: 2px solid grey;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.first-info{
    font-size: 18px;
    color: grey;
}

.info-img {
    margin-right: 10px;
    
}

.info-del{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    

}

.span-doc{
    font-size: 28px;
    font-weight: bold;
    color: #16a085;
    margin-bottom: 8px;
 
 
}


img{
    width: 200px;
    height: 218px;
}

.secon-book{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-info{
    font-size: 18px;
    margin-top: 30px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: grey;
 
}

hr{
    color: grey;
    width:100% ;
    height: 3px;
    margin-top: 20px;
}

.book-butt{
    margin-top: 30px;

}

.book-butt button{
    padding: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #16a085;
    transition: .4s;
    cursor: pointer;
}

.book-butt:hover{
    transform: scale(1.1);
    transition: .4s;
    cursor: pointer;
}



